:root {
  --primary: #111111;
  --secondary: #ffffff;
  --third: #a5a5a5;
  --fourth: #4a4a4a;
  --fifth: #1f1f1f;
  --brand: #ffd013;
  --border-radius: 8px;
  --border: 1px solid #4a4a4a;

  --font-16: 16px;
  --font-14: 14px;
  --font-12: 12px;
  --font-18: 18px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--secondary);
}
